.cart{
    text-align: center
}
.cart button{
    width: 100%;
}
.cartList p{
    font-size: 14px;
    line-height: 14px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.w_btn button,.w_btn span{
width: 20px;
}
.footer button{
    width: 100%
}
.footer .checkbox{
   vertical-align: middle
}