.nav-top{
    height: 50px;
    line-height: 50px;
}
.nav-top ion-title{
    float: left;
}
.nav-top button{
    float: right;
    width: 20px;
}
.nav-top button ion-icon{
    color: #000;
}
.daodi{
    text-align: center;
    font-family: "微软雅黑", sans-serif;
    color: #aaa;
    font-size: 12px;
}
.footers{
    height: 70px;
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0;
    font-family: "微软雅黑", sans-serif;
    border-top: 1px solid #ccc;
    z-index: 999;
}
.footers ion-icon{
    color: black;
    font-size: 20px;
    display: block
}
.footers a{
    text-decoration: none;
    text-align: center
}
.footers a span{
    display: block;
    font-size: 12px;
    color: #aaa;
}
.footers .btn{
    padding: 0 35px;
}
.describe{
    font-size:14px;
    color:red
}
.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}